@use 'sass:math';
.card{
    @extend .flex-center , .flex-col;
    padding: $base-padding;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius , 4);
    background-color: $bg;
    color: $primary;
    transition: $base-transition;
    .card-title{
        font-size: $font-size-2xl;
        padding-bottom: $base-padding;
        font-weight: bold;
        margin: 1.5rem 0;
    }
    .card-body{
        font-size: $font-size-base;
    }
    &:hover{
        background-color: $primary;
        color: $white;
    }
    svg{
        width: 4.5rem;
        height: 4.5rem;
    }
}

