input,textarea{
    width: 100%;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    padding: 14px 20px;
    width: 100%;
    color: #aaa;
    border-radius: 5px;
    text-align: right;
    outline: none;
    margin: 0.5rem 0;
}
