.navbar{
    @extend .flex-between, .w-full;
    padding: $base-padding $base-padding * 2;
    color: $primary;
    .site-title{
        font-size: $base-font-size;
        font-weight: bold;
    }
    .container{
        @extend .flex-between;
    }
    img{
        width: 3rem;
    }
    ul{
        display: none;
        @include md{
           display: flex;

       }
    }
    li{
        padding: 1rem;
    }
    .mobileNavBtn{
        display: block;
        @include md{
            display: none;
        }
    }
    .mobileNavBtn svg{
        width: 2rem;
        height: 2rem;
    }
}