.portfolio {
  position: relative;
  z-index: -1;
  cursor: pointer;
  img {
    height: 100%;
    border-radius: $base-border-radius;
  }
  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: $base-border-radius;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: #415678c7;
    color: $white;
  }
  &:hover .caption {
    opacity: 1;
  }
  .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: $font-size-2xl;
  }
}
