@each $key , $val in $colors {
    .bg-#{$key}{
        background-color: $val;
    }
    .text-#{$key}{
        color: $val;
    }
    // light variation
    @for $i from 1 through 9 {
        .bg-#{$key}-light-#{$i}{
            background-color: mix(white , $val, $i * 10);
        }
        .text-#{$key}-light-#{$i}{
            color: mix(white ,$val, $i * 10);
        }
    }
    // dark variation
    @for $i from 1 through 9 {
        .bg-#{$key}-dark-#{$i}{
            background-color: mix(black , $val, $i * 10);
        }
        .text-#{$key}-dark-#{$i}{
            color: mix(black ,$val, $i * 10);
        }
    }
} 