@import "mixin_styles.scss";
$mainFontFD: "Shabnam-FD";
$mainFont: "Shabnam"; 
$primaryColor: #415678;
$secondaryColor: #F7E0DE;
$rounded-sm: 0.125rem;
$rounded-md: 0.375rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;
$rounded-3xl: 1.5rem;
$rounded-4xl: 2rem;
$rounded-full: 9999px;
$borderRadiusXL: 15px;
$borderColor: #e7e7e7;
$solidBorder: 1px solid $borderColor;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$my-4: 1rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 3rem;
$cursor: pointer;
$transition: all ease-in-out 300ms;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: $mainFontFD;
    font-size: $text-lg;
    color: $primaryColor;
    direction: rtl;
}


header{
    @include container;
    @include flex-between;
    padding: $p-4;
    border: $solidBorder;
    margin-top: 1.5rem;
     img{
        width: 5rem;
    }
    ul{
        @include flex-center;
    }
    li{
        padding: $p-3;
    }
    border-radius: $rounded-4xl;
    -webkit-border-radius: $rounded-4xl;
    -moz-border-radius: $rounded-4xl;
    -ms-border-radius: $rounded-4xl;
    -o-border-radius: $rounded-4xl;
}